/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Body styles */
body {
  font-family: Arial, sans-serif; /* Changed font */
}

/* Navigation styles */
.navigation {
  position: fixed; /* Fixed position */
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

/* Header styles */
header {
  padding: 100px 0;
  text-align: center;
}

.logo-container {
  position: relative;
}

.logo-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid #fff;
}

.logo {
  height: 80px;
  width: 80px;
  margin-right: 10px;
}

/* Car collection section styles */
#car-collection {
  padding: 50px 0;
  background-color: #f9f9f9;
  text-align: center;
}

.container {
  width: 80%;
  margin: auto;
}

.container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.car-categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 30px;
}

.car-category {
  text-align: center;
  cursor: pointer;
}

.car-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s;
}

.car-category:hover .car-image {
  transform: scale(1.1);
}

.car-category h3 {
  font-size: 1.2rem;
  margin-top: 10px;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
