/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Body styles */
body {
  font-family: Arial, sans-serif; /* Changed font */
  line-height: 1.6;
}

/* Add the following styles to your existing CSS */

/* Add the following styles to your existing CSS */

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo-container {
  position: relative;
}

.logo-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px; 
  height: 100px;
  border-radius: 60px;
  border-left: 1cm;
  border: 4px solid #fff;
}

.logo {
  height: 100px; 
  width: 100px; 
}

.nav-links {
  margin-left: auto; /* Move navigation links to the right */
}

.nav-links li {
  margin-left: 20px;
}

.btnLogin-popup {
  height: 40px; /* Adjust button height */
  line-height: 40px; /* Center align text vertically */
}

.section-links {
  display: flex;
  align-items: center;
}

.section-links li {
  margin-right: 20px; /* Adjust spacing between section links */
}


.btnLogin-popup {
  height: 40px; /* Adjust button height */
  line-height: 40px; /* Center align text vertically */
}

.drive-button {
  width: 100px; /* Adjust button size as needed */
  height: 100px;
  border-radius: 50%;
  background-color: transparent; /* Transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.drive-button img {
  width: 80%;
  height: auto;
}


.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .btnLogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  transition: background-color 0.3s, color 0.3s;
}

.navigation .btnLogin-popup :hover {
  background-color: #fff;
  color: #162938;
}


.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  /* Adjust opacity as needed */
  opacity: 0;
  /* Initially invisible */
  transition: opacity 0.3s ease;
  /* Smooth transition effect */
}

/* Hover effect to show the ::after pseudo-element */
.wrapper:hover::after {
  opacity: 1;
}

/* Header styles */
header {
  background-image: url('images/photo6.jpeg');
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  z-index: 99;
  height: 100vh;
  text-align: center;
}

header h1 {
  font-size: 85px;
  /* Increased font size */
  font-weight: 300; /* Increased font weight */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Set font */
  transition: transform 0.3s ease; /* Smooth transition effect */
}

header h1:hover {
  transform: scale(1.1); /* Scale effect on hover */
}

header p {
  font-size: 20px;
  margin: 0.5rem 0;
}

header a.cta {
  background-color: #fff;
  border: 1px solid #333;
  color: #333;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 70px;
  margin-top: 1rem;
  transition: all 0.2s;
}

header a.cta:hover {
  background-color: #333;
  color: #fff;
  transform: scale(1.05); /* Scale effect on hover */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px 7%;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0 10px;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav a {
  color: #fff;
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1.2rem;
}

/* Section styles */
section {
  padding: 50px 0;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* Allow wrapping of service boxes */
}

.container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.container p {
  font-size: 1.1rem;
}

.container ul {
  list-style: none;
}

.container ul li {
  margin-bottom: 10px;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

/* Services styles */
.services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service {
  width: calc(33.33% - 20px); /* Set width for 3 columns with margin */
  margin: 10px; /* Adjust margin for equal spacing */
  transition: transform 0.3s ease;
}

.service:hover {
  transform: translateY(-5px);
}

.service-box {
  height: 400px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-box:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.service-image {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.service h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.service p {
  font-size: 1rem;
  color: #666;
}


/* Add this to your existing CSS */
#contact {
  background-color: #f9f9f9;
  padding: 50px 20px;
  text-align: center;
}

.contact-form {
  max-width: 600px;
  margin: auto;
}

.form-group {
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  height: 150px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #555;
}


.ride-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 13cm; 
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.ride-button:hover {
  background-color: #fff;
  color: #162938;
}

.LoginButton{
  
  width:90px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #fff 1px solid;
  border-radius: 20px;
  padding: 1px;
  transition: 0.1s ease-in;
}
.LoginButton a{
  margin-right:40px;
}
.LoginButton a:hover{
  background-color: #fff;
  color:black;
}
.LoginButton:hover{
  background-color: white;
  cursor: pointer;
}
